.my-notes__selector__container {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem;
    background-color: #f6f5df;
}

.appointment__button {
    margin: 1rem 0.5rem 0 1rem;
}

.complete-note {
    padding: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    max-width: 750px;
    margin-bottom: 3rem;
    background-color: #e0f6df;
}

.complete-note__header {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}


.my-notes__button {
    width: 2rem;
    margin-left: 1rem;
}

.my-notes__button:hover {
    border: 2px solid #404040;
    border-radius: 25px;
}