.note__section {
    border: 2px solid black;
    border-radius: 5px;
    margin: 2rem 0;
    padding: 1rem;
}

.form-group {
    margin: 1rem 0;
}

.form-group input {
    margin-right: 1rem;
}

.field__label {
    margin: 0 1rem;
}

.radio__label {
    margin-left: -0.5rem;
    margin-right: 0.5rem;
}

.multi-checkbox {
    margin-left: 2rem;
}

.course__dropdown {
    margin-left: 1rem;
}

.modifying-factors {
    display: flex;
    align-items: center;
}

.notes-field {
    margin-left: 1rem;
}

textarea {
    width: 50%;
}

#patient-age__field {
    width: 50px;
}