.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
}

.navbar__icon {
    width: 50px;
}